.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.autocomplete {
  margin-top: 2rem;
  position: relative;
}
.autocomplete .backdrop {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
.autocomplete .container {
  margin: auto;
  position: relative;
  width: 20rem;
}

.autocomplete input {
  border: 1px solid #b6c1ce;
  border-radius: 1px;
  box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  width: 100%;
}
.autocomplete-list {
  background: #fff;
  border: 1px solid #b6c1ce;
  border-radius: 2px;
  box-sizing: border-box;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 17rem;
  overflow-y: auto;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}
.autocomplete-item {
  box-sizing: border-box;
  padding: 0 1.5rem;
  width: 100%;
}
.autocomplete-item:hover {
  background-color: #d6d7da;
}
.autocomplete-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 2rem;
  text-align: left;
  width: 100%;
}